<!-- interpolate RUby code using ERB tags -->
<!-- evaluate Ruby code and compile into HTML code before it gets sent to browser -->
<!-- <%= @sessions %> -->

<h1>Sessions</h1>

<!-- Create link to create session -->
<a href="/sessions/new">Create a new session</a>

<!-- Display all sessions -->
<h3>All sessions:</h3>
<% @sessions.each do |session| %>

  <ul>
    <li><a href="/sessions/<%= session.id %>"><%= session.date %></a> - <%= session.problems.count %> problem(s)</li>
  </ul>
<% end %>
