<!-- interpolate RUby code using ERB tags -->
<!-- evaluate Ruby code and compile into HTML code before it gets sent to browser -->
<!-- <%= @sessions %> -->

<h1>Sessions</h1>

<!-- Display all sessions -->
<% @sessions.each do |session| %>

  <ul>
    <li><a href="/sessions/<%= session.id %>"><%= session.date %></a> - <%= session.problems.count %> problem(s)</li>
  </ul>
<% end %>
