<h1>Create a New Session</h1>
<form action="/sessions" method="POST">
  <!-- Date -->
  <input type="date" name="date" required>

  <!-- Submit the form -->
  <button type="submit">Add Session</button>
  <!-- Add another new problem button -->
</form>