@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed&display=swap');

/*Navigation
----------------------------------------------------*/

/*.navbar-brand{
  font-family: 'Roboto';
  font-size: 2.8em;
  padding-right: 30px;
}

.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
    color: white;
    background-color: #edd955;
}*/

/*Body
------------------------------------------------------*/
html{
  position: relative;
  min-height: 100%;
}

body {
  /*background-color: lightblue;*/
  /*line-height: 18px;*/
  padding-bottom: 10px;
  margin-bottom: 60px; /* Margin bottom by footer height */
}

.container{
  width: auto;
  padding: 10px 15px;
  /*background: #fff;*/
  /*padding-top: 10px;*/
  /* Margin bottom by footer height */
  /*margin: 5%, 5%, 10%, 5%;*/
  /*background-image: url(../images/.png);*/
  /*background-repeat: no-repeat;*/
  /*background-attachment:fixed;*/
  /*background-size: cover;*/
  /*background-position: bottom center;*/
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

h1, h2, h3, h4{
  font-family: roboto;
}

h1{
  text-align: center;
  padding-bottom: 5%;
}

/* ERROR MESSAGE
-------------------------------------------------*/
/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/*Imgur Embed Image
--------------------------------------------------*/
iframe .imgur-embed-iframe-pub.image{
  background-color: white;
}

/* FOOTER
-------------------------------------------------- */
.footer {
  position: absolute;
  padding-left: 20px;
  bottom: 0;
  width: 100%;
  height: 50px; /* Set the fixed height of the footer here */
  line-height: 40px; /* Vertically center the text there */
  background-color: #f5f5f5;
}

footer .container{
  margin: 0;
  width:100%;
}

.text-muted {
  margin: 1px 0;
}
