@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Condensed&display=swap');

body {
  /*background-color: lightblue;*/
  /*line-height: 18px;*/
}

.container{
  /*background: #fff;*/
  padding-top: 10px;
  /* Margin bottom by footer height */
  margin: 5%, 5%, 0%, 5%;
  /*background-image: url(../images/.png);*/
  /*background-repeat: no-repeat;*/
  /*background-attachment:fixed;*/
  /*background-size: cover;*/
  /*background-position: bottom center;*/
  font-family: 'IBM Plex Sans Condensed', sans-serif;
}

h1, h2, h3, h4{
  font-family: roboto;
}

h1{
  text-align: center;
  padding-bottom: 20px;
}

/* ERROR MESSAGE ON EDIT PROBLEM '/problems/edit_problem' IEW*/
/* The alert message box */
.alert {
  padding: 20px;
  background-color: #f44336; /* Red */
  color: white;
  margin-bottom: 15px;
}

/* The close button */
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
  color: black;
}

/* FOOTER
-------------------------------------------------- */
.footer {
  position: absolute;
  padding-left: 20px;
  bottom: 0px;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  background-color: #EBEBEB;
}

/*footer .container{
  margin: 0;
  width:100%;
}*/

.text-muted {
  margin: 20px 0;
}