<h3>Sign up as a new user</h3>
<%= @error %>
<form action="/signup" method="POST">
  <input type="text" name="username" placeholder="username">
  <input type="password" name="password" placeholder="password">
  <input type="submit" value="Sign Up">
</form>