<h1>Welcome to Bolderer</h1>
<hr>
<form action="/login" method="get" target="_blank">
  <button type="submit">Log in</button>
</form><br>
<form action="/signup" method="get" target="_blank">
  <button type="submit">Create Account</button>
</form>